* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  background: #f1f2f6;
  padding: 25px;
}
.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
}
.header img {
  height: 120px;
  border-radius: 50%;
  margin-bottom: 25px;
}
.header h1 {
  font-size: 30px;
  font-weight: 600;
}

.money-text {
  background: linear-gradient(rgb(46, 204, 113), rgb(26, 188, 156));
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -5px 0;
}

.product-item {
  padding: 25px;
  width: calc(100% / 3 - 10px);
  background: #fff;
  font-size: 18px;
  margin: 0 5px 10px;
}

.product-item .image {
  height: 130px;
  margin-bottom: 25px;
}

.product-item .title {
  font-size: 25px;
  margin-bottom: 5px;
}

.product-item .price {
  font-size: 20px;
  color: #24c486;
}

.product-item .product-item-footer {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.product-item-footer input {
  border: 1px solid #b2bec3;
  height: 40px;
  text-align: center;
  font-size: 18px;
  margin: 0 10px;
  flex: 1;
  width: 100%;
  border-radius: 3px;
}
.product-item-footer button {
  height: 40px;
  padding: 0 15px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.product-item-footer button.sell-btn {
  background: linear-gradient(rgb(245, 59, 130), rgb(245, 59, 87));
  color: #fff;
}

.product-item-footer button.buy-btn {
  background: linear-gradient(rgb(46, 204, 113), rgb(26, 188, 156));
  color: #fff;
}

.product-item-footer button:disabled {
  background: #f1f2f6;
  color: #333;
}


.receipt {
  background: #fff;
  padding: 40px;
}
.receipt h3 {
  font-size: 30px;
  margin-bottom: 25px;
}
.receipt-item {
  display: flex;
  padding-bottom: 6px
}
.receipt-item div {
  flex: 1;
  text-align: left;
  font-size: 18px;
}
.receipt-item div:nth-child(2) {
  text-align: center;
}
.receipt-item div:last-child {
  text-align: right;
  color: #24c486;
  font-weight: 600;
}
.receipt-container {
  max-width: 400px;
  margin: 0 auto;
}
.receipt-item.total {
  border-top: 1px solid #ccc;
  padding-top: 15px;
  margin-top: 15px;
}
.receipt-item.total div:last-child {

}

.reset-btn {
  display: flex;
  height: 40px;
  align-items: center;
  background: linear-gradient(rgb(245, 59, 130), rgb(245, 59, 87));
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  margin-top: 30px;
  justify-content: center;
  cursor: pointer;
}

@media(max-width: 1000px){
  .product-item {
    width: calc(100% / 2 - 10px);
  } 
}
@media(max-width: 700px){
  .product-item {
    width: calc(100% - 10px);
  } 
}